# GitHub API token. Issue #8で使用予定。
GH_READ_TOKEN=

# PostgreSQL connection strings. Issue #5以降で使用予定。
DATABASE_URL=
DATABASE_MIGRATION_URL=

# Slack notification settings. Issue #13で使用予定。
SLACK_BOT_TOKEN=
SLACK_USER_ID=
